---
import EventLayout from '../layouts/EventNoImageLayout.astro';

export const frontmatter = {
prev_url: "superabile",
next_url: "jazz-rebels",
date: "2025-11-16 16:00",
visible_date: "Domenica 16 Novembre Ore 16:00",
city: "Seriate", // OK
venue: "Centro sportivo",
map_url: "https://maps.app.goo.gl/VuPpjcpv9pWZeK4x9",
title: "Assemblea generale",
image: "ag_image.jpg",
thumb: "ag_thumb.jpg",
pricing: " "
}

---
<EventLayout frontmatter={frontmatter}>
  <div class="p-4 bg-white mb-8">
  <img src="/logo-sguazzi-homepage-md.png" />
  </div>
  <p class="font-bold">ASSEMBLEA STRAORDINARIA DI SGUAZZI ODV - 20 anni di vita </p>
  <p>L’assemblea straordinaria di Sguazzi è aperta a tutti i soci, i volontari e gli amici di Sguazzi. L’ordine del giorno prevede un racconto di questi 20 anni attraverso le voci di chi c’era e di c’è, di chi abbiamo incontrato e di chi ci ha accompagnato lungo il cammino. Parole ed immagini per 20 anni fatti di sogni, grandi avventure ma anche qualche disavventura, momenti di gioia e momenti di dolore. Nel corso dell’assemblea Sguazzi proverà a raccontare come è nata e cosa è diventata, aprendo uno sguardo sul prossimo futuro e su quel che sarà.
  </p>
  <p>
    Vi aspettiamo numerosi. Anche solo per la festa e un brindisi in compagnia.
  </p>
</EventLayout>
