---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
date: "2025-11-16 16:00",
visible_date: "Domenica 16 Novembre Ore 16:00",
city: "Seriate", // OK
venue: "Centro sportivo",
map_url: "https://maps.app.goo.gl/VuPpjcpv9pWZeK4x9",
title: "Assemblea generale",
image: "ag_image.jpg",
thumb: "ag_thumb.jpg",
pricing: " "
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">Assemblea Generale Straordinaria</p>
  <p>
  Assemblea Generale (A.G.) Straordinaria, aperta anche alle tante realtà incontrate 
  in questi 20 anni: associazioni amiche, cooperative...
  </p>
</EventLayout>
