---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
date: "2025-11-16 21:00",
visible_date: "Domenica 16 Novembre Ore 21:00",
city: "Seriate", // OK
venue: "Centro sportivo",
map_url: "https://maps.app.goo.gl/VuPpjcpv9pWZeK4x9",
title: "Il ballo dei 20 anni",
image: "ballo_image.jpg",
thumb: "ballo_thumb.jpg",
pricing: " "
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">Il ballo dei 20 anni</p>
  <p>
  Il ballo dei 20 anni, dj disco dance 
  </p>
</EventLayout>
