---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
prev_url: "jazz-rebels",
date: "2025-11-16 21:00",
visible_date: "Domenica 16 Novembre Ore 21:00",
city: "Seriate", // OK
venue: "Centro sportivo",
map_url: "https://maps.app.goo.gl/VuPpjcpv9pWZeK4x9",
title: "Il ballo dei 20 anni",
image: "ballo_image.jpg",
thumb: "ballo_thumb.jpg",
pricing: " "
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold"> IL BALLO DEI 20 ANNI - dj set sguazzante!</a>
  <p>
La festa dei 20 anni di Sguazzi si conclude con un dj set autogestito, autoprodotto, autocritico e magari anche automatico. Ci sarà da saltare, sgambettare, ancheggiare, abbracciare e pure salutare. Sarà un modo per dirsi arrivederci tra sorrisi e sudore, muscoli e cuore.
  </p>
  <p>
Vestiti come vuoi ma porta tanta allegria.
  </p>
</EventLayout>
