---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
date: "2025-11-15 17:00",
image: "roccoronchi_image.png",
thumb: "roccoronchi_thumb.png",
slider: "roccoronchi_slider.png",
title: "Il volto dell'altro",
visible_date: "Sabato 15 novembre ore 17.00",
city: "Levate",
venue: "Sala Civica",
map: "https://maps.app.goo.gl/p1o52PT5DyTSk8aU7",
}

---

<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">Simposio di carattere filosofico “IL VOLTO DELL’ALTRO”,  a cura del filosofo Rocco Ronchi. </p>
  <p>
  Rocco Ronchi si è formato presso la scuola fenomenologica milanese. Allievo di Carlo Sini, ha dedicato, negli anni '80, i suoi primi studi alla filosofia francese contemporanea, contribuendo ad introdurre nel dibattito filosofico italiano autori come Maurice Blanchot, Emmanuel Lévinas e Georges Bataille. Ha dedicato una serie di studi al tema della “comunicazione” nei quali ha, da un lato, criticato il modello standard delle teorie linguistiche, semiotiche e antropologiche della comunicazione, dall'altro ha mostrato come la questione richiedesse un approccio speculativo che riattivasse a questo scopo nozioni metafisiche quali quella gentiliana di “atto” e quella bergsoniana di “durata creatrice”.
  </p>
  <p>Nel  corso dell’appuntamento, verrà approfondito il tema dell’incontro con l’altro, dell’alterità; la riflessione vuole offrire una prospettiva radicale sull'alterità, ponendo l'incontro con l'altro al centro dell'esperienza umana, esplorando il concetto di "volto", inteso come epifania dell'altro, che ci chiama a una responsabilità etica incondizionata. L'incontro filosofico approfondirà le implicazioni di questa visione, evidenziando la centralità dell'altro nella costruzione della nostra identità umana e sociale.
  </p>
</EventLayout>

