---
import Welcome from '../components/Welcome.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import PartnerCard from '../components/PartnerCard.astro';
import EmptyCard from '../components/EmptyCard.astro';
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
import logo from '../assets/logo.png';
import "../styles/global.css";
import "@glidejs/glide/dist/css/glide.core.min.css"

const compareEvents = (ev1, ev2) => {
if (ev1 && ev2) {

return (ev1.frontmatter.date > ev2.frontmatter.date) ? 1 : -1;
}
return 0;
}

const events = Object.values(
import.meta.glob([
'./corpi-sovversivi.astro',
'./lo-specchio-della-regina.astro',
'./pupille.astro',
'./rinunce.astro',
'./il-volto-dell-altro.astro',
'./assemblea-generale.astro',
'./il-ballo-dei-20-anni.astro',
'./jazz-rebels.astro'
], { eager: true }))
.sort(compareEvents);
const sliderEvents = events.filter((ev) => Boolean(ev.frontmatter.slider))
const gridEvents = [...events.slice(0, 4), "", ...events.slice(4)];

---

<Layout>
  <Header />
  <!-- <pre>{JSON.stringify(events, null, 2)}</pre> -->
  <div class="hidden md:block md:w-full md:h-[900px]">
    <Slider events={sliderEvents} />
  </div>
  <main >
    <section class="bg-[#f7a600]">
      <a name="programma"></a>
      <h2 class="flex flex-col md:flex-row justify-center gap-2 text-xl md:text-4xl text-center text-[#273583] pt-20 uppercase font-bold">
        <span class="">Il volto dell'altro</span> 
        <span class="hidden md:inline">|</span>
        <span class="">20 anni di Sguazzi</span>
      </h2>
      <div class="grid grid-cols-1  lg:grid-cols-3 md:grid-rows-3 gap-12 px-4 md:px-48 pb-48 pt-24">
        {gridEvents.map((ev, idx) => {
        if (idx == 4) {
        return <EmptyCard />;
        }
        return <Card event={ev} />
        }) }
      </div>
    </section> 
    <section class="bg-white">
      <a name="partner"></a>
      <h2 class="flex flex-col md:flex-row justify-center gap-2 text-xl md:text-4xl text-center text-[#273583] pt-20 uppercase font-bold">
        I nostri partner
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-5 gap-12 px-4 md:px-48 pb-48 pt-24">
        <PartnerCard name="Con il patrocinio e sostegno della Provincia di Bergamo" image="/logo_provincia_bergamo.png" />
        <PartnerCard name="Comune di Dalmine" image="/logo_comune_dalmine.png" />
        <PartnerCard name="Comune di Ciserano" image="/logo_comune_ciserano.png" />
        <PartnerCard name="Comune di Levate" image="/logo_comune_levate.png" />
        <PartnerCard name="Comune di Verdellino" image="/logo_comune_verdellino.png" />
        <PartnerCard name="CSV Bergamo" image="/logo_csv.png" />
        <PartnerCard name="Cooperativa Sociale Il Pugno Aperto" image="/logo_pugno_aperto.png" />
        <PartnerCard name="Spazio Circo Bergamo" image="/logo_spazio_circo.png" />
        <PartnerCard name="Fondazione San Giuliano" image="/logo_san_giuliano.png" />
        <PartnerCard name="Comunità della Salute" image="/logo_comunita_salute.png" />
      </div>
    </section>
  </main>

  <Footer />

</Layout>
