---
import Welcome from '../components/Welcome.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
import logo from '../assets/logo.png';
/*
*
<link rel="stylesheet" href="@glidejs/glide/dist/css/glide.core.min.css">
*/
import "../styles/global.css";
import "@glidejs/glide/dist/css/glide.core.min.css"

const events = Object.values(
import.meta.glob([
'./corpi-sovversivi.astro',
'./lo-specchio-della-regina.astro'
], { eager: true }));
const compareEvents = (ev1, ev2) => {
if (ev1 && ev2) {
     
    return (ev1.frontmatter.date > ev2.frontmatter.date) ? 1 : -1;
  }
  return 0;
}
---

<Layout>
  <!-- <Welcome /> -->
  <Header />
  <div class="hidden md:block md:w-full md:h-[900px]">
    <Slider events={events} />
  </div>
  <main class="bg-[#f7a600]">
    <h2 class="flex flex-col md:flex-row justify-center gap-2 text-xl md:text-4xl text-center text-[#273583] pt-20 uppercase font-bold">
      <span class="">Il volto dell'altro</span> 
      <span class="hidden md:inline">|</span>
      <span class="">20 anni di Sguazzi</span>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:grid-rows-3 gap-12 px-4 md:px-48 pb-48 pt-24">
      {events.sort(compareEvents).map(ev => <Card event={ev} />) }
    </div>
    
  </main>

  <Footer />

</Layout>
