---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---
<Layout>
  <Header />
  <main class="bg-[#273583]">
    <div class="w-full pt-32 bg-center bg-cover bg-no-repeat" style={`background-image: url()`}>
      <h2 class="text-white w-full text-center text-xl md:text-6xl">
        <span class="event-title">Il volto dell'altro</span>
      </h2>
    </div>
    <div class=" p-12 pt-4 md:pt-12 md:p-48 mx-auto bg-[#273583] text-[#d4d8e9]">
      <div class="event-description md:columns-2 columns-1 text-xl gap-15 text-justify">
        <div class="italic">    
          Il volto mi parla e così mi invita ad una relazione.
        </div>
        <div>
          [Emmanuel Lévinas]
        </div>
        <p>
        L’Organizzazione di Volontariato Sguazzi (www.sguazzi.org) quest’anno compie 20 anni. 
        </p>
        <p>
        Dal 2005 l’associazione si dedica alla costruzione di contesti e di presupposti volti a favorire la realizzazione dell’umanità di ciascuno, ponendo al centro del proprio agire le persone (indipendentemente dalle loro condizioni di vita fisiche, psichiche, sociali) e le relazioni sociali ed interpersonali che fra esse si generano.  Sguazzi riconosce alla qualità delle proprie proposte culturali un possibile ruolo nella riduzione delle barriere che impediscono, rallentano o limitano l’affermarsi di una convivenza solidale e benefica. Per questo, l’associazione interpreta il proprio ruolo di attore sociale promuovendo una cultura dell’incontro e dell’ascolto attraverso progetti ed attività di interesse generale che ha svolto in questi vent’anni a Bergamo e in molti paesi della provincia bergamasca.
        </p>
        <p>
        Per festeggiare i propri 20 anni di vita, Sguazzi vuole dunque proporre un percorso di indagine e confronto sul tema de IL VOLTO DELL’ALTRO, rivolto in particolare ad alcune comunità territoriali della periferia bergamasca (Verdellino, Ciserano, Levate, Osio Sotto, Dalmine, Seriate ), caratterizzate da una evidente complessità sociale e, in alcuni casi, con un’offerta culturale ridotta. D’altra parte, si tratta anche di luoghi nei quali il terzo settore è da sempre molto attivo proprio per agire nella fragilità con una prospettiva di cambiamento e trasformazione. Il progetto IL VOLTO DELL’ALTRO vuole quindi essere l’occasione di confronto allargato innovativo con la cittadinanza ma anche con chi in quei territori opera nella direzione di una società più equa, inclusiva, accogliente. L'obiettivo  duplice è quello di un’azione culturale di impatto sociale.
        </p>
        <p>
        Il cuore del progetto si articola in cinque proposte, fra loro complementari, e sarà organizzato in collaborazione con il progetto COMUNITA’ DELLA SALUTE (attivo nei comuni di Ciserano, Levate, Verdellino-Zingonia e Osio Sopra), con il Comune di Dalmine, con l’Associazione Sportiva Dilettantistica Spazio Circo, con il CSV di Bergamo e la Cooperativa Il Pugno Aperto.
        </p>
        <p>
        Le date previste per tutte le proposte sono il 13, 14, 15 e 16 novembre.
        </p>
      </div>
    </div>

  </main>
  <div class="w-full bg-[#f7a600]  h-24"></div>

  <Footer />

</Layout>


