---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
date: "2025-11-15 09:00",
visible_date: "SABATO 15 e DOMENICA 16 NOVEMBRE, dalle 9 alle 14",
title: "Pupille ",
city: "Levate", // OK
venue: "Sala Civica",
map_url: "https://maps.app.goo.gl/VMFT9SXdKbSxEAjh7",
image: "pupille_image.png",
thumb: "pupille_thumb.png",
slider: "pupille_slider.png",
layout: "../layouts/EventLayout.astro",
pricing: `
<div class="text-[#273583] text-xl">
  <h2 class="text:2xl md:text-6xl text-[#273583]">
    SGUAZZI CHIEDE AI PARTECIPANTI UNA DONAZIONE, SECONDO TRE POSSIBILITÀ:
  </h2>
  <div class="text:xl md:text-3xl">
  <ul 
    <li>- 20€, donazione minima consigliata</li>
    <li>- 35€, donazione a copertura costi</li>
    <li>- 50€, donazione consapevole</li>
  </ul>
</div>
</div>`,
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">PUPILLƏ - attraversare lo spazio dello sguardo - Laboratorio di teatro, movimento, somatica condotto da Margherita Tassi <a href="https://www.margherita-tassi.ch">www.margherita-tassi.ch</a></p>
  <p>
Guardare e lasciarsi guardare, attraversando lo spazio delineato dai nostri occhi, dai
corpi.
  </p>
  <p>
Sguardo e presenza come possibilità di delicatezza di te, di me, di noi. Per raccontare.
Allenare uno sguardo-paesaggio in cui fare esperienza dell’altro in tutta la sua
ampiezza.
  </p>
  <p>
Sguardo per fare testimonianza insieme.
  </p>
  <p>
Sguardo come creazione e visione di mondi possibili, di luoghi in cui fare poesia.
PUPILLƏ è un laboratorio per riconoscersi e scoprirsi in ciò che di me rifletto dentro di
te, come luogo possibile dove poter stare ed esserci.
  </p>
  <p class="italic">
La relazione, attraverso il volto mi porta un messaggio in cui si fa l’esperienza
assoluta dell’alterità.
  </p>
  <p class="md-1 md:!mb-24">
  <span class="font-bold">Lévinas E.</span>, Etica e infinito. Dialoghi con Philippe Nemo, Città Aperta Edizioni, 2008
  </p>
  <p class="font-bold text-[#f7a600]">
DESTINATARI/E
  </p>
  <p>
Aperto a chiunque abbia desiderio di esplorare con il corpo, il tocco, il movimento.
  </p>
  <p class="font-bold text-[#f7a600]">COSE DA PORTARE </p>
  <div class="mb-8">
  <ul>
    <li>- tappetino da yoga/ginnastica a terra + coperta</li>
    <li>- abiti comodi per praticare</li>
    <li>- quaderno</li>
    <li>- colori</li>
    <li>- immagini stampate/libri vecchi/riviste di occhi e sguardi (di umani e animali)</li>

  </ul>
  </div>
  <div class="mb-8">
  A scelta o tutte e tre:
  <ul>
    <li>- una poesia che abbia come tema lo sguardo, il volto (di un autore scelto da te)</li>
    <li>- una canzone che abbia come tema lo sguardo, il volto (di un autore scelto da te)</li>
    <li>- un testo che abbia come tema lo sguardo, il volto (di un autore scelto da te)</li>
  </ul>
  </div>
  <p>
  <span class="font-bold text-[#f7a600]">PER ISCRIVERSI</span> o avere maggiori informazioni 
  scrivi una email a <a class="underline" href="mailto:massimo.malanchini@gmail.com">massimo.malanchini@gmail.com</a>.
  </p>
</EventLayout>
