---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
date: "2025-11-15 09:00",
visible_date: "SABATO 15 e DOMENICA 16 NOVEMBRE, dalle 9 alle 14",
title: "Pupille ",
city: "Levate", // OK
venue: "Sala Civica",
map_url: "https://maps.app.goo.gl/VMFT9SXdKbSxEAjh7",
image: "pupille_image.png",
thumb: "pupille_thumb.png",
slider: "pupille_slider.png",
layout: "../layouts/EventLayout.astro",
pricing: `
<div class="text-[#273583] text-xl">
  <h2 class="text-6xl text-[#273583]">
    Prenotazione e donazione obbligatoria
  </h2>
  <p class="text-xl">
  Per prenotarsi, scrive una email a <a class="underline" href="mailto:massimo.malanchini@gmail.com">massimo.malanchini@gmail.com</a>.
  </p>
  <p class="text-xl">
  Il laboratorio prevede dei costi di iscrizione, donazione a Sguazzi secondo 3 possibilità:
  <ul>
    <li>- 20€ donazione minima consigliata</li>
    <li>- 35€ donazione a copertura costi</li>
    <li>- 50€ donazione consapevole</li>
  </ul>
</p>
</div>`,
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">Laboratorio “PUPILLE - attraversare lo spazio dello sguardo”, condotto da Margherita Tassis, teatrante, performer e educatrice specializzata nel campo della disabilità e nella realizzazione di progetti pedagogico-artistici in contesti di fragilità e/o comunitari.</p>
  <p>
     Si tratta di un laboratorio ad alto impatto inclusivo e sociale, 
     che esplora e scardina i paradigmi della disabilità e dell’abilità, 
     per creare un approccio sensibile all’altro attraverso la creazione collettiva. 
  </p>
  <p>
  Partendo dal presupposto che la fragilità è condizione umana inevitabile per tutti 
  noi, l’attività è pensata per dimostrare le potenzialità generative 
  e trasformative dell’incontro con l’altro; nella Dichiarazione 
  dei Diritti Universali dell’Uomo, all’art.27; 1, si legge: 
  </p>
  <p class="italic">
  _“Ogni individuo ha diritto di prendere parte liberamente alla vita culturale 
  della comunità, di godere delle arti e di partecipare al progresso 
  scientifico ed ai suoi benefici.”_
  </p>
  <p>
  Il laboratorio in oggetto vuole essere 
  un esempio di buona prassi in questa direzione.
  </p>
</EventLayout>
