---
import EventLayout from '../layouts/EventLayout.astro';

export const frontmatter = {
prev_url: "corpi-sovversivi",
next_url: "pupille",
date: "2025-11-14 21:00",
visible_date: "Venerdì 14 Novembre Ore 21:00",
city: "Ciserano", // OK
venue: "Sala Civica",
map_url: "https://maps.app.goo.gl/L9W8Pyw7m8rU1fmZ9",
title: "Rinunce ",
image: "rinunce_image.png",
thumb: "rinunce_thumb.png",
slider: "rinunce_slider.png",
pricing: ` <h2 class="text-6xl text-[#273583]">Reading teatrale a ingresso libero</h2>`,
}

---
<EventLayout frontmatter={frontmatter}>
  <p class="font-bold">Reading teatrale di Giuseppe Goisis e Alberto Benigni</p>
  <p>
  Si tratta di un reading dai tratti musicali e teatrali, il terzo passo di una trilogia, la trilogia dell'anti-eroismo: segue Eroi (Eroi e... malattia) e Alfòr (Eroi e... caso), reading andati in scena per anni, e ne porta a termine il percorso.</p>
  <p>
  Abitualmente vengono definiti eroici gli atti che sfidano condizioni estreme di realtà e raggiungono esiti di straordinario valore. In Rinunce, al contrario, si raccontano sei storie nelle quali l'eroicità dell'atto sta nel non-compiere.</p>
  <p>
  Sei storie in cui si rinuncia, a qualcosa o qualcuno. Nelle quali la forza è esercitata in contrasto a un'opposta pulsione. Soffocandola. Trattenendosi.</p>

  <p>Testi e Musiche: Giuseppe Goisis</p>
<p>Luci, Effetti e Suoni: Alberto Benigni</p>
<p>Dipinto: Sara Baldis</p>
<p>Maschera: Compagnia Brincadera e Familie Flöz</p>

<p>Musiche di scena suonate da: </p>
<p>Ruggero Bosso - fisarmonica </p>
<p>Alberto Forino - piano </p>
<p>Alberto Zanini - chitarra </p>
<p>Matteo Magli - tuba </p>
<p>Gabriele Rubino - clarinetto </p>
</EventLayout>
