---

import logo from '../assets/logo.png';

import "../styles/global.css";
---
<footer class="flex px-12 md:px-48 py-8 md:py-12 flex-row bg-[#273583] text-center">
  <div class="text-white px-4 max-w-full md:max-w-[80vw] flex justify-around items-center w-full md:w-[90%] p-2 gap-2  md:p-5 md:gap-5">
    <div class="h-full w-[43%] text-left">
      <h4 class="mb-4">Sguazzi<br>Organizzazione di Volontariato</h4>
      <p class="text-[#d4d8e9]">
      c/o Biblioteca Civica via Matteotti, 10<br>
      24046 Osio sotto, BG
      <br>
      <a href="https://www.sguazzi.org" target="_blank" class="underline">www.sguazzi.org</a>
      </p>
      
    </div>
    <div class="h-full w-[33%] text-left">
      <h4 class="mb-4">Il volto dell'altro | 20 anni di Sguazzi</h4>
      <p class="text-[#d4d8e9]">
      <ul>
        <li><a href="/progetto" class="text-[#d4d8e9]">Il Progetto</a></li>
        <li><a href="/#programma" class="text-[#d4d8e9]">Il Programma</a></li>
        <li><a href="#" class="text-[#d4d8e9]">Partner</a></li>
      </p>
    </div>
    <div class=" w-[23%]"></div>
  </div>
</footer>
