---

const { name, image } = Astro.props;
import "../styles/global.css";
import CardBg from '../assets/card-bg.gif'
---
<div class="flex flex-col text-center">
  <div class=" w-56 w-56 p-4 rounded bg-blue-100 mx-auto">
    <div class={`rounded w-48 h-48 bg-center bg-contain bg-no-repeat mx-auto `} style={`background-image: url(${image})`}>
    </div>
  </div>
  <div class="mt-4 relative text-center ">
    <h3 class={` text-xl md:text-3xl lg:text-xl text-center absolute w-full mx-auto text-[#273583]`}>
      {name} 
    </h3>
  </div>
</div>
